%h1{style: "margin-bottom: 30px;"}
  Invoice
  = @invoice.number

.row
  .col-sm-8.col-sm-offset-2
    %p
      Date
      = @invoice.date.to_s(:short_date)

    %address
      %strong Jumpstart, Inc.<br />
      PO Box 963<br />
      New York, NY 10108<br />
      United States<br />
      Phone: +1 918 937 6666

    %address
      %strong Billed to:<br />
      - if @invoice.user_name.present?
        = @invoice.user_name
        <br />
      - if @invoice.user_organization.present?
        = @invoice.user_organization
        <br />
      - if @invoice.user_address1.present?
        = @invoice.user_address1
        <br />
      - if @invoice.user_address2.present?
        = @invoice.user_address2
        <br />
      = @invoice.user_city
      - if @invoice.user_state.present?
        = ", #{@invoice.user_state}"
      = @invoice.user_zip_code
      = @invoice.user_country

    %table.table
      %tbody
        - @invoice.line_items.each do |line_item|
          %tr
            %td= line_item.description
            %td= "#{number_to_currency(line_item.amount, precision: 2)} USD"
          %tr
            %td.text-right Subtotal
            %td
              - if @invoice.discounted?
                %tr
                  %td= "Discount: #{@invoice.discount_name}"
                  %td= "- #{number_to_currency(@invoice.discount_amount, precision: 2)} USD"
          %tr
            %td.text-right Tax
            %td $0.00 USD
          %tr
            %td.text-right Total
            %td= "#{number_to_currency(@invoice.total, precision: 2)} USD"
          %tr
            %td.text-right Amount paid
            %td= "#{number_to_currency(@invoice.amount_paid, precision: 2)} USD"
          %tr
            %td.text-right Balance due
            %td= "#{number_to_currency(@invoice.balance, precision: 2)} USD"

    %p
      %em EU customers, please note: prices exclude VAT

    %p= "Invoice lookup: #{@invoice.stripe_invoice_id}"
