<%= form.input(:organization, input_html: { class: "form-control" }) %>
<%= form.input(:address1, input_html: { class: "form-control" }) %>
<%= form.input(:address2, input_html: { class: "form-control" }) %>
<div class="row">
  <div class="col-xs-6">
    <%= form.input(:city, input_html: { class: "form-control" }) %>
  </div><!-- /.col-xs-6 -->
  <div class="col-xs-6">
    <%= form.input(:state, input_html: { class: "form-control" }) %>
  </div><!-- /.col-xs-6 -->
</div><!-- /.row -->
<div class="row">
  <div class="col-xs-6">
    <%= form.input(:zip_code, input_html: { class: "form-control" }) %>
  </div><!-- /.col-xs-6 -->
  <div class="col-xs-6">
    <%= form.input(:country, input_html: { class: "form-control" }) %>
  </div><!-- /.col-xs-6 -->
</div><!-- /.row -->
